.section-img {
    padding: 250px 10px;
    background-image: url(../images/fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}    

@media (max-width: 640px) {
    .section-img {
        background-image: url(../images/fundo4b.jpg);
    }

}

@media (max-width: 1024px) {
    .section-img {
        background-image: url(../images/fundo4b.jpg);
    }
}
