.section-img {
    padding: 250px 10px;
    background-image: url(../images/fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 80px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}    
