.separador2 {

    .container {
        max-width: 90%;
        padding: 150px 77px;
    }

    &__texts {
        display: block;

        &__title {
            margin-bottom: 150px;
            font-size: 80px;
            color: #000;
            text-align: center;
        }
    
        &__button {
            text-align: center;
            transition: 300ms ease;

            .button {
                padding: 10px;
                background-color: #000;
                border-radius: 10px;
                letter-spacing: 2px;
                font-size: 80px;
                font-weight: 800;
                line-height: 56px;
                color: #fff;
                text-decoration: none;
            }

            &:hover {
                transform: scale(1.2);
                transition: 300ms ease;
            }
        }

    }


}